.standard-closed {
  text-align: right;
}

.standard-width {
  margin: 8px;
}
tr:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

.mat-card {
  width: 25%;
  display: inline-grid;
  margin: 20px;
}
