<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="demo-app-header">
    <button *ngIf="isLogin" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
    </button>
  Welcome to {{ title }}!
</mat-toolbar>
<mat-sidenav-container class="demo-app-container">
  <mat-sidenav #sidenav mode="over" class="demo-app-sidenav">
    <p><a routerLink="/tri001">Tri001</a></p>
  </mat-sidenav>
  <mat-sidenav-content class="demo-app-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
